{% extends "base.html" %}
{% block content %}
<h2>Submit New Ticket</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
  <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control", rows=5) }}</div>
  <div class="row">
    <div class="col-md-6 mb-3">{{ form.category.label }} {{ form.category(class="form-select") }}</div>
    <div class="col-md-6 mb-3">{{ form.priority.label }} {{ form.priority(class="form-select") }}</div>
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
